:root{
    --link:#000;
    --hover:#b00;
    --main:#000;
    --bg:#f0f0f0;
    --size:160vmin;
    --ratio: 1/1.1;
   /*  font-size: calc(var(--size) / 100); */
}

body{
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: var(--bg);
    font-family: tahoma;
    color: var(--main);

	background-image: url('Images/bg.jpg');
    background-repeat: no-repeat;  
    background-size: 100% 100%;
}


a{
    text-decoration: none;
    color: #000;
}

header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-weight: 900;
    padding: 40px 0;
}

.container{
    width: calc(var(--size) * var(--ratio));
    margin: 0 auto;
    background-color: var(--bg);
    border-radius: 10px;
    border: 3px solid #2146ad;
}




.logo{
    width: 150px;
    padding: 10px 0;
    cursor: pointer;
    position: relative;
    text-align: center;
    border: 3px solid var(--main);
    color: var(--main);
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2.5px;
    transition: all 0.2s;
}

.logo:hover{
    background: var(--main);
    color: var(--bg);
}

nav{
    display:flex;

}


img {
    max-width: 100%;
    max-height: 100%; 
    width: calc(var(--size) * var(--ratio));
   /* border-radius: 10px;
    border: 3px solid #2146ad;*/
}


nav{
    display:inline-block;
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
  /* margin: 0 20px 0 5px; */
    margin-right: 10px;
    padding: 5px 10px;
    transition: all 300ms ease-in-out;
}

nav a:hover{
    color: var(--hover);
}


.intro{
    width: 100%;
    overflow: auto;
    font-size: 1.6rem;
   /* text-transform: uppercase;
    text-align: center;
    font-weight: bold; */
}


.intro-title{
    color: var(--main);
    font-size: 5rem;
    text-align: center;
    /* text-transform: uppercase; */
    font-weight: bold;
    margin-top: 5vmin;
}



.btn{
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
    transition: all 300ms ease-in-out;
    background-color: rgba(0, 150, 187, 0.651);
}

.btn:hover{
    background-color: rgb(75, 74, 172);
    color: var(--bg);
}