:root{
    --link:#000;
    --hover:#b00;
    --main:rgb(44, 44, 44);
    --bg:#f0f0f0;
    --size:160vmin;
    --ratio: 1/1.1;
   /*  font-size: calc(var(--size) / 100); */
}

body{
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: var(--bg);
    font-family: tahoma;
    color: var(--main);

	background-image: url('Images/wowbgv4.png');
   /* background-repeat: no-repeat;  */
    background-position: center;
    /*background-size: 100% 100%; */
    background-size: 100%;

    margin: 0px;
    min-height: 100%;
    width: 100%;
}

html {
   margin: 0px;
   height: 100%;
   width: 100%;
}


/*a{
    text-decoration: none;
    color: #000;
} 

header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-weight: 900;
    padding: 40px 0;
} */

.container{
    width: calc(var(--size) * var(--ratio));
    margin: 0 auto;
    background-color: var(--bg);
    border-radius: 8px;
    border: 3px solid #803f0acb;
    background-image: url('Images/quest-bg.jpg');
    background-position: center;
    background-size: 100% 100%; 
    padding-right: 4%;
    padding-left: 4%;
    padding-top: 3%;
    padding-bottom: 2%;
}

.container-survey{
    width: calc(var(--size) * var(--ratio));
    margin: 0 auto;
    background-color: var(--bg);
    border-radius: 5px;
   
    border: 3px solid #94490c;
    background-image: url('Images/quest-bg.jpg');
    background-position: center;
    background-size: 100% 100%; 
    padding-right: 1%;
    padding-left: 1%;
    padding-top: 0.7%;
    padding-bottom: 0.9%;
}





/*.logo{
    width: 150px;
    padding: 10px 0;
    cursor: pointer;
    position: relative;
    text-align: center;
    border: 3px solid var(--main);
    color: var(--main);
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2.5px;
    transition: all 0.2s;
}

.logo:hover{
    background: var(--main);
    color: var(--bg);
}

nav{
    display:flex;

} */


img {
    max-width: 100%;
    max-height: 100%; 
    width: calc(var(--size) * var(--ratio));
   /* border-radius: 10px;
    border: 3px solid #2146ad;*/
}


nav{
    display:inline-block;
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
  /* margin: 0 20px 0 5px; */
    margin-right: 10px;
    
    transition: all 300ms ease-in-out;
}

nav a:hover{
    color: var(--hover);
}


.intro{
    width: 100%;
    overflow: auto;
    font-size: 2.2rem;
    font-family: Friz Quadrata;
   /* text-transform: uppercase;
    text-align: center;
    font-weight: bold; */
}


.intro-title{
    color: var(--main);
    font-size: 4rem;
    /* text-align: center; */
    /* text-transform: uppercase; */
    font-weight: bold;
    margin-top: 3vmin;
    

}



.btn{
    display: inline-block;
    padding: 10px 70px;
    text-align: center;
    font-weight: bold;
    border: 3px solid rgb(66, 66, 66);
    cursor: pointer;
    transition: all 300ms ease-in-out;
    background-color: #1696ac;
}

.btn:hover{
    background-color: #0d5a68;
    color: var(--bg);
}


 @font-face { font-family: Morpheus; src: url('Fonts/MORPHEUS.TTF'); } 
 @font-face { font-family: Friz Quadrata; src: url('Fonts/Friz\ Quadrata\ Regular.ttf');}

  h1 {font-family: Morpheus}