:root{
    --link:#000;
    --hover:#b00;
    --main:rgb(44, 44, 44);
    --bg:#f0f0f0;
    --size:160vmin;
    --ratio: 1/1.1;
   /*  font-size: calc(var(--size) / 100); */
}

body{
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: var(--bg);
    font-family: tahoma;
    color: var(--main);

	background-image: url('Images/wowbgv4.png');
   /* background-repeat: no-repeat;  */
    background-position: center;
    /*background-size: 100% 100%; */
    background-size: 100%;

    margin: 0px;
    min-height: 100%;
    width: 100%;
}

html {
   margin: 0px;
   height: 100%;
   width: 100%;
}


.container{
    width: calc(var(--size) * var(--ratio));
    margin: 0 auto;
    background-color: var(--bg);
    border-radius: 8px;
    border: 3px solid #2c2c2c;
    background-image: url('Images/quest-bg.jpg');
    background-position: center;
    background-size: 100% 100%; 
    padding-right: 4%;
    padding-left: 4%;
    padding-top: 3%;
    padding-bottom: 2%;
}

.container-survey{
    width: calc(var(--size) * var(--ratio));
    margin: 0 auto;
    background-color: var(--bg);
    border-radius: 8px;
    border: 3px solid #2c2c2c;
    background-image: url('Images/quest-bg-2.png');
    background-position: center;
    background-size: 100% 100%; 
    padding-right: 1.2%;
    padding-left: 1.2%;
    padding-top: 1%;
    padding-bottom: 1%;
}



img {
    max-width: 100%;
    max-height: 100%; 
    width: calc(var(--size) * var(--ratio));
   /* border-radius: 10px;
    border: 3px solid #2146ad;*/
}


.intro{
    width: 100%;
    overflow: auto;
    font-size: 2.2rem;
    font-family: Friz Quadrata;
   /*text-align: center;
    font-weight: bold; */
}


.intro-title{
    color: var(--main);
    font-size: 4rem;
    /* text-align: center; */
    font-weight: bold;
    margin-top: 3vmin;
}


.button{
    display: inline-block;
    padding: 10px 70px;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    border: 5px solid #490000;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    background-color: #8f1010;
    color: #d3c614;
}

.button:hover{
    background-color: #520808;
}


 @font-face { font-family: Morpheus; src: url('Fonts/MORPHEUS.TTF'); } 
 @font-face { font-family: Friz Quadrata; src: url('Fonts/Friz\ Quadrata\ Regular.ttf');}

  h1 {font-family: Morpheus}